<!--Stephanie Frankian and Elizabeth Kuszmaul
    home.html
-->
<!DOCTYPE html>
<html>
  <head>
    <title>WhenAndWhere: Create Poll</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
  </head>

  <body>
     <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/create/">Create a Poll</a></li>
     </ul>
     <h1>New Poll</h1>

     <form method="{{meth}}" action="{{script}}">
       <p>Poll Name: <input type="text" name="name"></p>
       <p>Email Address: <input type="text" name="email"></p>
       <br>
       
       <table id="form_table">
	 <tr>
	   <th>Date</th>
	   <th>Time</th>
	   <th>Location</th>
	   <th>Add row</th>
	   <th>Remove</th>
	 </tr>
		
	 <tr>
	   <td><input type="text" name="date" class="pickDate"></td>	
	   <td><input type="text" name="time"</td>
	   <td><input type="text" name="location"</td>
	   <td><input type="button" value="Add row" id="add_row"</td>
	   <td><input type="button" id="remove_row" value="Remove" class="button"</td>
	 </tr>
					
        </table>

        <input type="submit" id="submit" name="submit" class="submit" value="Submit">
     </form>

     <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
     <script>
	$(function () {
            $('.pickDate').datepicker({ dateFormat: "dd/mm/yy" });
        });
     </script>
  </body>
</html>
