<!--Stephanie Frankian and Elizabeth Kuszmaul
    home.html
-->
<!DOCTYPE html>
<html>
  <head>
    <title>WhenAndWhere: Response</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
   </head>
  <body>
    <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/create/">Create a Poll</a></li>
     </ul>
     <h1>Respond to the poll</h1>
     <form method="POST" action="{{script}}">
          
          <h2>Options</h2><br/>
     	  {% for option in options %}
               <label for "{{option['oid']}}">Option {{loop.index}}: {{option['given_time']}} on {{option['meeting_date']}}, {{option['location']}} </label>
	       <input type="checkbox" name="option" value={{option['given_time']}}> 
          {% endfor %}
	 
	 <br/>
	 <br/>
	 
      <input type="submit" name="submit-btn" value="Submit">

    </form>

  </body>
</html>
