<!--Stephanie Frankian and Elizabeth Kuszmaul
    home.html
-->
<!DOCTYPE html>
<html>
  <head>
    <title>WhenAndWhere: Response</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
   </head>
  <body>
     <ul>
      <li> <a href="/">Home</a></li>
      <li> <a href="/create/">Create a Poll</a></li>
     </ul>
     <h1>Respond to {{poll_name}}</h1>
     <form method="{{meth}}" action="{{script}}">
      {% for option in options %}
         <label class="mylabels" for "option{{loop.index}}">Option {{loop.index + 1}}: {{option[0]}}, {{option[1]}} at {{option[2]}}:</label>
	 <input type="text" name="option{{loop.index}}"/>
      {% endfor %}
  
      <input type="submit" name="submit-btn" value="Submit">

    </form>

  </body>
</html>
